@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Leaflet specific styles */
.leaflet-container {
  z-index: 10;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.75rem;
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-popup-close-button {
  padding: 8px !important;
}